body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#root {
  padding: 0;
}
.summary-wrapper {
  iframe {
    width: 100%;
    height: calc(100vh - 120px);
  }
}
footer {
  color: #777;
  padding: 1em;
}
